/KlasserObjekt.py
/Lektion 2023-04-27.py
/SalaryTest.py
/Text.py
/__pycache__
/babas.py
/calculateSalary.py
/calculateSalaryTest.py
/canIBuyBeer.py
/canIBuyBeerTest.py
/classes.py
/classesTest.py
/employee.py
/employeeTest..py
/fizzbuzz.py
/fizzbuzzTest.py
/ispalindrom.py
/ispalindromTests.py
/salary.py
/Övning 1 OOP.py